.ChevronWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625rem solid #f2f2f2;
  border-radius: 0.25rem; /* 4px */

  &.Small {
    width: 1rem; /* 16px */
    height: 1rem; /* 16px */
  }

  &.Large {
    width: 1.375rem; /* 22px */
    height: 1.375rem; /* 22px */
  }
}
