.IndexBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem; /* 40px */
  height: 2.5rem; /* 40px */
  border-radius: 0.75rem; /* 12px */
  font-size: 1rem; /* 16px */
  font-weight: 500; /* medium */
  background-color: #2467ec;
  color: #f2f2f2;
}