@use "sass:string";

@mixin click-scale() {
  $animation-name: string.unique-id();
  animation-name: $animation-name;

  @keyframes #{$animation-name} {
    @content;
  }
}

.Button {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  border: none;
  gap: 0.5rem; /* 8px */
  border-radius: 0.625rem; /* 10px */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation-duration: 0.25s;
  animation-timing-function: ease-out;

  @media (prefers-reduced-motion: no-preference) {
    &:active {
      animation-duration: 0.25s;
      animation-timing-function: ease-out;

      @include click-scale {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  /* Variants */

  &.Primary {
    background-color: #2467ec;
    color: #f2f2f2;
  }

  &.Secondary {
    background-color: #ffb013;
    color: #f2f2f2;
  }

  &.Soft {
    background-color: #d3e1fb;
    color: #0d0d0d;
  }

  &.Outlined {
    background-color: #ffffff;
    color: #2467ec;
  }

  &.Ghost {
    background-color: transparent;
    color: #e5eeff;
  }

  /* sizes */

  &.Small {
    padding: 0.625rem 1.125rem; /* 10px 18px */
    font-size: 0.75rem; /* 12px */

    @media (min-width: 768px) {
      font-size: 0.875rem; /* 14px */ 
    }
  }

  &.Large {
    padding: 1rem 1.25rem; /* 16px 18px */
    font-size: 0.875rem; /* 14px */

    @media (min-width: 768px) {
      font-size: 1rem; /* 16px */ 
    }
  }

  &.Full {
    width: 100%;
    padding: 0.75rem 1rem; /* 12px 16px */
    font-size: 0.875rem; /* 18px */
  }

  &.Icon {
    padding: 0.5rem;
  }

  /* disable */

  &.Disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
