.CommentSlider {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 1.75rem; /* 28px */

  @media (min-width: 768px) {
    padding-inline: 0;
  }

  .LeftControl {
    position: absolute;
    left: clamp(0.25rem, 0.75vw, 1.5rem);
    color: #333333;
    cursor: pointer;
  }

  .RightControl {
    position: absolute;
    right: clamp(0.25rem, 0.75vw, 1.5rem);
    color: #333333;
    cursor: pointer;
  }

  .CarouselSlide {
    padding: 0.5rem; /* 8px */
  }
}
