@use "@fontsource-variable/vazirmatn";
@use "modern-normalize";

html {
  font-size: clamp(1rem, 1.5vw, 1.25rem); 
}

body {
  font-family: "Vazirmatn Variable", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E6E9F2;
}

input,
textarea,
button {
  font-family: "Vazirmatn Variable", sans-serif;
}
